.mainContent {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	color: white;
	grid-column: 2/3;
	padding: 3rem;
	padding-top: 4rem;
	gap: 7rem;
	width: 100%;
	height: 100vh;
}

@media (max-width: 1250px) {
	.mainContent {
		padding: 1rem;
		gap: 10rem;
	}
}
